@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

.mainpage__title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
  cursor: default;
}

.mainpage__smalltitle {
  margin-top: 10px;
  margin-bottom: 50px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  text-align: center;
  cursor: default;
}


.mainpage__container {
  display: flex;
}

.mainpage__item {
  position: relative;
  height: 350px;
  border: 1px gray solid;
  margin: 10px;
  flex-basis: 50%;
  border-radius: 0.8rem;
  box-shadow: 0 0.2rem 1.6rem rgb(0 0 0 / 16%);
  padding: 60px 70px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.mainpage-item__title{
  font-size: 30px;
  margin-bottom: 24px;
  cursor: default;
}

.mainpage-item__text {
  font-size: 18px;
  margin-bottom: 50px;
  line-height: 30px;
  cursor: default;
}

.mainpage-item__create {
  font-weight: bold;
  border-radius: 20px;
  border: 2px solid transparent;
  box-shadow: 0 0.2rem 1.6rem rgb(0 0 0 / 16%);
  width: fit-content;
  padding: 8px 60px 10px 60px;
  box-sizing: border-box;
  line-height: 20px;
  cursor: pointer;
  background-color: #fff;
  transition-duration: 0.2s;
}

.mainpage-item__create:hover {
  color: #fff;
  background-color: rgb(114, 114, 0);
}


.mainpage__item:first-child {
  background-size: cover;
  background-position: center; 
  background-image: linear-gradient(
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)),
    url('/home/boronoev/myproject/src/images/pexels-pixabay-17796.jpg');
}


.mainpage__item:last-child {
  background-size: cover;
  background-position: center; 
  background-image: linear-gradient(
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0.3)),
    url('/home/boronoev/myproject/src/images/yomex-owo-gYq4Q0vmwfw-unsplash.jpg');
}


.login__container {
  width: 500px;
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 60px;
  box-shadow: 0 0.2rem 1.6rem rgb(0 0 0 / 16%);
  font-family: 'Inter', sans-serif;
}

.login__title {
  border: 1px solid transparent;
  font-size: 50px;
  text-align: center;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  padding: 20px;
  background: linear-gradient(20deg, #BFBF00, #7c9c07);
  margin-bottom: 30px;
  cursor: default;
}


.login__label {
  display: block;
  width: fit-content;
  margin: 0 auto;
  font-size: 26px;
  margin-bottom: 10px;
}

.login__input {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 18px;
  padding: 6px 10px;
  border-radius: 20px;
  border: 2px solid gray;
}

.login__button {
  display: block;
  margin: 0 auto;
  width: 200px;
  padding: 12px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(20deg, rgb(114, 114, 0), #a9be5f);
  margin-top: 30px;
  margin-bottom: 30px;
}

.login__welcome {
  margin-top: 30px;
  margin-bottom: 60px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  cursor: default;
}



.signup__container {
  width: 500px;
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 60px;
  box-shadow: 0 0.2rem 1.6rem rgb(0 0 0 / 16%);
  font-family: 'Inter', sans-serif;
}

.signup__title {
  border: 1px solid transparent;
  font-size: 50px;
  text-align: center;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  padding: 20px;
  /* background-color: #BFBF00; */
  background: linear-gradient(20deg, #BFBF00, #7c9c07);
  margin-bottom: 30px;
  cursor: default;
}


.signup__label {
  display: block;
  width: fit-content;
  margin: 0 auto;
  font-size: 26px;
  margin-bottom: 10px;
}

.signup__input {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 18px;
  padding: 6px 10px;
  border-radius: 20px;
  border: 2px solid gray;
}

.signup__button {
  display: block;
  margin: 0 auto;
  width: 280px;
  padding: 12px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  /* background-color: rgb(114, 114, 0); */
  background: linear-gradient(20deg, rgb(114, 114, 0), #a9be5f);

  margin-top: 30px;
  margin-bottom: 30px;
}

.signup__welcome {
  margin-top: 30px;
  margin-bottom: 60px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  cursor: default;
}

.add-url {
  position: absolute;
  right: 0;
  font-size: 18px;
  padding: 6px 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 2px solid transparent;
  cursor: pointer;
}
.url-container {
  /* margin: 0 auto; */
  width: fit-content;
  position: relative;
  margin-bottom: 30px;
}
.wishlist__url-input {
  /* display: inline-block; */
  margin-bottom: 20px;
  font-size: 18px;
  padding: 6px 10px;
  border-radius: 20px;
  border: 2px solid transparent;
  background-color: #fff;
  width: 650px;
}

.create-wishlist__title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  cursor: default;
}

.create-wishlist__smalltitle {
  margin-top: 10px;
  margin-bottom: 50px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  text-align: center;
  cursor: default;
}

.create-wishlist__form {
  /* background: linear-gradient(35deg, rgb(255, 255, 255), #a9be5f62); */
  /* background-color: aliceblue; */
  width: 1200px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 0 6px 20px rgb(0 0 0 / 16%);
  border-radius: 10px;
  margin-bottom: 40px;
}
.create-wishlist__form-title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  cursor: default;
  margin: 0 auto;
  display: block;
  width: fit-content;
  margin-bottom: 20px;
}
.create-wishlist__label {
  display: block;
  width: fit-content;
  margin: 0 auto;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'Inter', sans-serif;
}
.create-wishlist__url-label {
  width: fit-content;
  margin: 0 auto;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'Inter', sans-serif; 
  margin-left: 70px;
  margin-right: 30px;
}
.wishlist__title-input {
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  padding: 6px 10px;
  border-radius: 20px;
  border: 2px solid transparent;
}
.wishlist__input {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 18px;
  padding: 6px 10px;
  border-radius: 20px;
  border: 2px solid transparent;
  background-color: #fff;
}

.create-wishlist__title-container {
  display: flex;
  justify-content: space-between;
}

.save {
  width: 150px;
  padding: 10px;
  font-size: 14px;
  border-radius: 20px;
  border: 2px solid rgb(190, 190, 190);
  cursor: pointer;
  margin-right: 10px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  background-color: rgba(255, 255, 255, 0.7);
}

.wishlist-link {
  width: 150px;
  padding: 10px;
  font-size: 14px;
  border-radius: 20px;
  border: 2px solid rgb(190, 190, 190);
  cursor: pointer;
  margin-right: 10px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  background-color: rgba(255, 255, 255, 0.7);
}
.newlist { 
  padding: 10px;
  font-size: 14px;
  border-radius: 20px;
  border: 2px solid rgb(190, 190, 190);
  cursor: pointer;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  background-color: rgba(255, 255, 255, 0.7);
}

.newlist:disabled {
  color: gray;
  background-color: lightgray;
  cursor:default;
}

.wishlist__form-submit {
  display: block;
  margin: 0 auto;
  width: 200px;
  padding: 20px;
  font-size: 20px;
  border-radius: 60px;
  border: 2px solid rgba(128, 128, 128, 0.216);
  cursor: pointer;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  background-color: rgba(255, 255, 255, 0.9);
}

.create-wishlist__input-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.wishlist__item {
  background-color: aliceblue;
  width: 300px;
  font-family: 'Inter', sans-serif;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 10px rgb(0 0 0 / 16%);
  border-radius: 10px;
}




.wish__item {
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}



.wishlist__items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.wishlist__book{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  padding: 6px;
  cursor: pointer;
  border: 2px solid rgb(216, 216, 216);
}

.wishlist__book:disabled {
  color: gray;
  background-color: rgb(210, 210, 210);
  cursor: default;
}

.wishlist__giver-container {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top:50px;
  font-family: 'Inter', sans-serif;
}

.wishlist__giver-label {
  font-size: 30px;
}

.wishlist__giver {
  font-size: 30px;
  width: 300px;
  padding: 10px;
  padding-left: 20px;
  border-radius: 30px;
  border: none;
}

.wishlist__giver-button {
  font-size: 16px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border-radius: 30px;
  border: 2px solid rgb(216, 216, 216);
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  background-color: rgba(255, 255, 255, 0.9);
}

.gray {
  background-color: lightgray;
  color: gray;
}
