@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "/home/boronoev/myproject/src/components/Menu/menu.css";
@import "/home/boronoev/myproject/src/components/reset.css";
@import "/home/boronoev/myproject/src/components/pages/pages.css";


a {
  
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 24px rgb(0 0 0 / 8%);
  font-family: 'Inter', sans-serif;
  z-index: 100;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}


.center-wrapper {
  max-width: 1216px;
  margin-left: auto;
  margin-right: auto;
  min-width: 288px;
}

.header__info {
  flex: 0 0 40%;
}

.header__logo {
  display: block;
  font-family: 'Permanent Marker', cursive;
  flex: 0 0 20%;
  text-align: center;
  color: rgb(114, 114, 0);
  font-size: 32px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.header__logo:hover{
  color: rgba(114, 114, 0, 0.900)
}

.header__actions {
  flex: 0 0 40%;
  display: flex;
  justify-content: flex-end;
}


.header-actions__item {
  display: block;
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 200px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 16%);
  /* font-size: 1.8rem; */
  padding-top: 8px;
  padding-bottom: 10px;
  cursor: pointer;
  margin: 0 16px;
  border: 2px solid rgb(114, 114, 0);
  font-weight: bold;
  transition-duration: 0.5s;
  color: black;
}



.header-actions__item:hover{
  color: #fff;
  background-color: rgb(114, 114, 0);
}




.icon-burger {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-image: url(/home/boronoev/myproject/src/images/bars.svg);
  background-repeat: no-repeat;
  transition-duration: 0.5s;
}
/* .icon-burger:hover {
  background-image: url(/home/boronoev/myproject/src/images/bars-hover.svg);
  background-repeat: no-repeat;
} */

.hidden {
  display: none;
}

.header__empty {
  height: 102px;
  width: 100%;
}


